extends layout

block body
        body.bg-slate-400(class='dark:bg-gray-700').flex.flex-col.min-h-screen
          // Drawer
          #drawer-navigation.fixed.top-0.z-40.left-0.w-64.pt-3.overflow-y-auto.transition-transform.-translate-x-full.bg-white(class='dark:bg-gray-800' tabindex='-1' aria-labelledby='drawer-navigation')
                .flex.flex-col.h-screen.px-3
                  .py-3.border-b.border-gray-200(class='dark:border-gray-700 lg:px-5 lg:pl-3')
                    .flex.items-center.justify-between
                      .flex.items-center.justify-start
                        button.inline-flex.items-center.p-2.text-sm.text-gray-500.rounded-lg(data-drawer-target='drawer-navigation' data-drawer-toggle='drawer-navigation' aria-controls='drawer-navigation' type='button' class='hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600')
                          span.sr-only Open sidebar
                          svg.w-6.h-6(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                            path(clip-rule='evenodd' fill-rule='evenodd' d='M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z')
                        .flex.ml-5
                          object.h-8(class="dark:invert" data='/images/chalk.svg' type='image/svg+xml')
                          span.ml-3.self-center.text-xl.font-pacifico.whitespace-nowrap(class='sm:text-2xl dark:text-white') #[a(href="/") Chalk]
                  .pt-2
                      ul.space-y-2.font-medium
                        li
                          a.flex.items-center.p-2.text-gray-900.rounded-lg(href='/dashboard' class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
                            svg.w-6.h-6.text-gray-500.transition.duration-75(aria-hidden='true' class='dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z')
                              path(d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z')
                            span.ml-3 Dashboard
                        li
                          a.flex.items-center.p-2.text-gray-900.rounded-lg(href='/channel/announcements' class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
                            svg.flex-shrink-0.w-6.h-6.text-gray-500.transition.duration-75(aria-hidden='true' class='dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(d='M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z')
                            span.flex-1.ml-3.whitespace-nowrap Anúncios
                        li
                          button.flex.items-center.w-full.p-2.text-gray-900.transition.duration-75.rounded-lg.group(type='button' class='hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700' aria-controls='dropdown-example' data-collapse-toggle='dropdown-example')
                            svg.flex-shrink-0.w-6.h-6.text-gray-500.transition.duration-75(aria-hidden='true' class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' d='M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z' clip-rule='evenodd')
                            span.flex-1.ml-3.text-left.whitespace-nowrap(sidebar-toggle-item='') Inscrições
                            svg.w-6.h-6(sidebar-toggle-item='' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
                          ul#dropdown-example.hidden.py-2.space-y-2
                            li
                              a.flex.items-center.w-full.p-2.text-gray-900.transition.duration-75.rounded-lg.pl-11.group(href='#' class='hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700') RPCW
                            li
                              a.flex.items-center.w-full.p-2.text-gray-900.transition.duration-75.rounded-lg.pl-11.group(href='#' class='hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700') SDGE
                            li
                              a.flex.items-center.w-full.p-2.text-gray-900.transition.duration-75.rounded-lg.pl-11.group(href='#' class='hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700') TF 
                  .mt-auto
                      ul.items-end.align-bottom.pt-4.pb-6.space-y-2.font-medium.border-t.border-gray-200(class='dark:border-gray-700')
                        li
                          a.flex.items-center.p-2.text-gray-900.transition.duration-75.rounded-lg.group(href='/logout' class='hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white')
                            svg.flex-shrink-0.w-5.h-5.text-gray-500.transition.duration-75(aria-hidden='true' class='group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400' focusable='false' data-prefix='fas' data-icon='gem' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                              path(fill='currentColor' d='M378.7 32H133.3L256 182.7L378.7 32zM512 192l-107.4-141.3L289.6 192H512zM107.4 50.67L0 192h222.4L107.4 50.67zM244.3 474.9C247.3 478.2 251.6 480 256 480s8.653-1.828 11.67-5.062L510.6 224H1.365L244.3 474.9z')
                            span.ml-4 Sign Out
                        li
                          a.flex.items-center.p-2.text-gray-900.transition.duration-75.rounded-lg.group(href='#' class='hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white')
                            svg.flex-shrink-0.w-6.h-6.text-gray-500.transition.duration-75(aria-hidden='true' class='dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z' clip-rule='evenodd')
                            span.ml-3 Help
          // Nav Bar
          .flex.flex-col.relative
              // Nav Bar
              nav.fixed.top-0.w-full.z-20.bg-white.border-b.border-gray-200(class='dark:bg-gray-800 dark:border-gray-700')
                .px-3.py-3(class='lg:px-5 lg:pl-3')
                  .flex.items-center.justify-between
                    .flex.items-center.justify-start
                      button.inline-flex.items-center.p-2.text-sm.text-gray-500.rounded-lg(data-drawer-target='drawer-navigation' data-drawer-toggle='drawer-navigation' aria-controls='drawer-navigation' type='button' class='hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600')
                        span.sr-only Open sidebar
                        svg.w-6.h-6(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                          path(clip-rule='evenodd' fill-rule='evenodd' d='M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z')
                      .flex.ml-5   
                        object.h-8(class="dark:invert" data='/images/chalk.svg' type='image/svg+xml')
                        span.ml-3.self-center.text-xl.font-pacifico.whitespace-nowrap(class='sm:text-2xl dark:text-white') #[a(href="/") Chalk]
                    
                    form#searching
                      label.mb-2.text-sm.font-medium.text-gray-900.sr-only(for='default-search' class='dark:text-white') Search
                      .relative
                        .absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none
                          svg.w-5.h-5.text-gray-500(aria-hidden='true' class='dark:text-gray-400' fill='none' stroke='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z')
                        input#default-search.block.w-128.p-4.pl-10.text-sm.text-gray-900.border.border-gray-300.rounded-lg.bg-gray-50(type='search' class='focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')
                        button.text-white.absolute.bg-blue-700.font-medium.rounded-lg.text-sm.px-4.py-2(type='submit' class='right-2.5 bottom-2.5 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Search                   
                      
                      // Dropdown search
                      #dropdown.absolute.w-128.z-24.hidden.bg-white.divide-y.divide-gray-100.rounded-lg.shadow(class='dark:bg-gray-700')
                        ul#dropdownlist.py-2.text-sm.text-gray-700(class='dark:text-gray-200')
                          

                    .flex.items-center.ml-3
                      button#theme-toggle.flex.text-gray-500.rounded-lg.text-sm(type='button' class='dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 p-2.5')
                          svg#theme-toggle-dark-icon.hidden.w-5.h-5(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(d='M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z')
                          svg#theme-toggle-light-icon.hidden.w-5.h-5(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' fill-rule='evenodd' clip-rule='evenodd')
                          
                      .flex.items-center.ml-3
                        div
                          button.flex.text-sm.bg-gray-800.rounded-full(type='button' class='focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600' aria-expanded='false' data-dropdown-toggle='dropdown-user')
                            span.sr-only Open user menu
                            img.w-8.h-8.rounded-full(src='https://flowbite.com/docs/images/people/profile-picture-5.jpg' alt='user photo')
                        #dropdown-user.z-50.hidden.my-4.text-base.list-none.bg-white.divide-y.divide-gray-100.rounded.shadow(class='dark:bg-gray-700 dark:divide-gray-600')
                          .px-4.py-3(role='none')
                            p.text-sm.text-gray-900(class='dark:text-white' role='none')
                              | Neil Sims
                            p.text-sm.font-medium.text-gray-900.truncate(class='dark:text-gray-300' role='none')
                              | neil.sims@flowbite.com
                          ul.py-1(role='none')
                            li
                              a.block.px-4.py-2.text-sm.text-gray-700(href='/dashboard' class='hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white' role='menuitem') Dashboard
                            li
                              a.block.px-4.py-2.text-sm.text-gray-700(href='/settings' class='hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white' role='menuitem') Settings
                            li
                              a.block.px-4.py-2.text-sm.text-gray-700(href='/logout' class='hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white' role='menuitem') Sign out            
          // Page
          .pt-20.mt-3.pl-5.mr-5.mb-12
              block page
          // Footer
          footer.bg-white(class='dark:bg-gray-900').mt-auto
            .mx-auto.w-full.max-w-screen-xl.p-2.py-1(class='lg:py-3')
              div(class='md:flex md:justify-between')
                .mb-6(class='md:mb-0')
                  a.flex.items-center(href='')
                    object.h-8(class="dark:invert" data='/images/chalk.svg' type='image/svg+xml')
                    span.ml-3.self-center.text-xl.font-pacifico.whitespace-nowrap(class='sm:text-2xl dark:text-white') Chalk
                  span.text-gray-500(class='text-[10px] dark:text-gray-400')
                    | By Gonçalo Ferreira and Rui Braga
                  
              hr.my-6.border-gray-200(class='sm:mx-auto dark:border-gray-700 lg:my-3')
              div(class='sm:flex sm:items-center sm:justify-between')
                span.text-sm.text-gray-500(class='sm:text-center dark:text-gray-400')
                  | &copy; 2023 
                  a(href='' class='hover:underline') Chalk&trade;
                  | . All Rights Reserved.
                .flex.mt-2.space-x-6(class='sm:justify-center sm:mt-0')
                  a.text-gray-500(href='https://github.com/GoncaloPereiraFigueiredoFerreira/RPCW-Chalk' class='hover:text-gray-900 dark:hover:text-white')
                    svg.w-5.h-5(fill='currentColor' viewbox='0 0 24 24' aria-hidden='true')
                      path(fill-rule='evenodd' d='M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z' clip-rule='evenodd')
                    span.sr-only GitHub account
              
        script(src='/javascripts/flowbite.min.js')
        script(src="/javascripts/main.js") 
        script.
            function getChannels(value,channels){
              return new Promise((resolve,reject)=>{
                  if (channels.length==0){
                        fetch("/search/"+value).then(result=>{
                          result.json().then(result=>{
                          resolve(result) 
                  })})}
                  else resolve(channels)         
              })
            }
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' ) {
            document.documentElement.classList.add('dark');
            } else {
            document.documentElement.classList.remove('dark')
            }
            document.addEventListener("click", e=>{
              const box = document.getElementById('dropdown');
              if (!box.contains(event.target)) {
                  $("#dropdown").fadeOut(300);
                }
            }
            )
            const searchInput = document.querySelector("#default-search")
            let channels = []
            let previous = 0
            searchInput.addEventListener("input", e=>{
                const value = e.target.value.toUpperCase();
                if (value < previous) channels = []
                let shown =0
                if (value.length > 1){
                    getChannels(value,channels).then(res=>{
                        channels=res
                        $("#dropdownlist").empty()
                          shown=0
                          for (let ch in channels){
                            if (channels[ch].name.indexOf(value)!=-1){
                                shown+=1
                                let a = $('<a>').attr("href","/channel/"+channels[ch]._id).attr("class","block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white").text(channels[ch].name)
                                $("#dropdownlist").append($('<li>').append(a))
                            } 
                          }
                          if (shown>0) $("#dropdown").show(200)
                          else $("#dropdown").hide()
                    })                    
                }
                else{
                  $("#dropdownlist").empty()
                  $("#dropdown").hide(200)
                }
                previous=value.length

            })


