extends layout

block body
        body.bg-slate-400(class='dark:bg-gray-700').flex.flex-col.min-h-screen
          // Drawer
          #drawer-navigation.fixed.top-0.z-40.left-0.w-64.pt-3.overflow-y-auto.transition-transform.-translate-x-full.bg-white(class='dark:bg-gray-800' tabindex='-1' aria-labelledby='drawer-navigation')
                .flex.flex-col.h-screen.px-3
                  .py-3.border-b.border-gray-200(class='dark:border-gray-700 lg:px-5 lg:pl-3')
                    .flex.items-center.justify-between
                      .flex.items-center.justify-start
                        button.inline-flex.items-center.p-2.text-sm.text-gray-500.rounded-lg(data-drawer-target='drawer-navigation' data-drawer-toggle='drawer-navigation' aria-controls='drawer-navigation' type='button' class='hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600')
                          span.sr-only Open sidebar
                          svg.w-6.h-6(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                            path(clip-rule='evenodd' fill-rule='evenodd' d='M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z')
                        .flex.ml-5
                          object.h-8(class="dark:invert" data='/images/chalk.svg' type='image/svg+xml')
                          span.ml-3.self-center.text-xl.font-pacifico.whitespace-nowrap(class='sm:text-2xl dark:text-white') #[a(href="/") Chalk]
                  .pt-2
                      ul.space-y-2.font-medium
                        li
                          a.flex.items-center.p-2.text-gray-900.rounded-lg(href='/' class='dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700')
                            svg.w-6.h-6.text-gray-500.transition.duration-75(aria-hidden='true' class='dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z')
                              path(d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z')
                            span.ml-3 Dashboard
                        li
                          button.flex.items-center.w-full.p-2.text-gray-900.transition.duration-75.rounded-lg.group(type='button' class='hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700' data-collapse-toggle='dropdown-sub')
                            svg(width='20px' height='20px' viewbox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='#000000')
                              g#SVGRepo_bgCarrier(stroke-width='0')
                                g#SVGRepo_tracerCarrier(stroke-linecap='round' stroke-linejoin='round')
                                  g#SVGRepo_iconCarrier
                                    title inbox_down_round [#1550]
                                    desc Created with Sketch.
                                    defs  
                                    g#Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                      g#Dribbble-Light-Preview(transform='translate(-420.000000, -999.000000)' fill='#000000')
                                        g#icons(transform='translate(56.000000, 160.000000)')
                                          path(d='M381,849 L381,846 L382,849 L381,849 Z M382,856 C382,856.552 381.552,857 381,857 L367,857 C366.448,857 366,856.552 366,856 L366,851 L369,851 C369.552,851 370,851.448 370,852 L370,853 C370,854.105 370.895,855 372,855 L376,855 C377.105,855 378,854.105 378,853 L378,852 C378,851.448 378.448,851 379,851 L382,851 L382,856 Z M367,846 L367,849 L366,849 L367,846 Z M369,842 C369,841.448 369.448,841 370,841 L373.014,841 L373.036,844.067 C373.039,844.514 372.498,844.74 372.182,844.424 L371.873,844.115 C371.482,843.724 370.849,843.724 370.458,844.115 C370.068,844.505 370.068,845.138 370.458,845.529 C371.71,846.78 371.772,846.843 372.58,847.65 C373.361,848.431 374.627,848.431 375.408,847.65 C376.267,846.791 376.749,846.31 377.59,845.468 C377.977,845.082 377.981,844.457 377.601,844.064 C377.212,843.664 376.571,843.659 376.176,844.054 L375.803,844.427 C375.487,844.743 374.947,844.518 374.95,844.071 L374.964,841 L378,841 C378.552,841 379,841.448 379,842 L379,849 L378,849 C376.895,849 376,849.895 376,851 L376,852 C376,852.552 375.552,853 375,853 L373,853 C372.448,853 372,852.552 372,852 L372,851 C372,849.895 371.105,849 370,849 L369,849 L369,842 Z M382,843 L381,843 L381,841 C381,839.895 380.105,839 379,839 L369,839 C367.895,839 367,839.895 367,841 L367,843 L366,843 L364,849 L364,857 C364,858.105 364.895,859 366,859 L382,859 C383.105,859 384,858.105 384,857 L384,849 L382,843 Z' id='inbox_down_round-[#1550]')

                            span.flex-1.ml-3.text-left.whitespace-nowrap(sidebar-toggle-item='') Subscriptions
                            svg.w-6.h-6(sidebar-toggle-item='' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
                          ul#dropdown-sub.hidden.py-2.space-y-2
                        li
                          button.flex.items-center.w-full.p-2.text-gray-900.transition.duration-75.rounded-lg.group(type='button' class='hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700' aria-controls='dropdown-example' data-collapse-toggle='dropdown-pub')
                            svg(width='20px' height='20px' viewbox='0 0 20.00 20.00' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='#000000')
                              g#SVGRepo_bgCarrier(stroke-width='0')
                                g#SVGRepo_tracerCarrier(stroke-linecap='round' stroke-linejoin='round')
                                  g#SVGRepo_iconCarrier
                                    g#Page-1(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                                      g#Dribbble-Light-Preview(transform='translate(-380.000000, -999.000000)' fill='#000000')
                                        g#icons(transform='translate(56.000000, 160.000000)')
                                          path(d='M341,849 L341,846.051 L342,849 L341,849 Z M342,856.051 C342,856.603 341.552,857 341,857 L327,857 C326.448,857 326,856.603 326,856.051 L326,851 L329,851 C329.552,851 330,851.499 330,852.051 L330,853.051 C330,854.155 330.895,855 332,855 L336,855 C337.105,855 338,854.155 338,853.051 L338,852.051 C338,851.499 338.448,851 339,851 L342,851 L342,856.051 Z M327,846.051 L327,849 L326,849 L327,846.051 Z M329,842.051 C329,841.499 329.448,841 330,841 L338,841 C338.552,841 339,841.499 339,842.051 L339,849 L338,849 C336.895,849 336,849.946 336,851.051 L336,852.051 C336,852.603 335.552,853 335,853 L334.967,853 L334.939,846.755 C334.937,846.308 335.477,846.096 335.792,846.412 L336.105,846.73 C336.495,847.121 337.129,847.124 337.519,846.734 C337.91,846.343 337.91,845.712 337.519,845.321 C335.672,843.475 336.237,844.039 335.398,843.201 C334.617,842.42 333.35,842.42 332.569,843.201 C332.098,843.673 330.873,844.897 330.387,845.383 C330.001,845.77 329.996,846.395 330.377,846.787 C330.766,847.187 331.407,847.192 331.802,846.797 L332.177,846.422 C332.492,846.107 333.031,846.306 333.03,846.752 L333.011,853 L333,853 C332.448,853 332,852.603 332,852.051 L332,851.051 C332,849.946 331.105,849 330,849 L329,849 L329,842.051 Z M342,843 L341,843 L341,841.051 C341,839.946 340.105,839 339,839 L329,839 C327.895,839 327,839.946 327,841.051 L327,843 L326,843 L324,849.051 L324,857.051 C324,858.155 324.895,859 326,859 L342,859 C343.105,859 344,858.155 344,857.051 L344,849.051 L342,843 Z' id='inbox_up_round-[#1551]')

                            span.flex-1.ml-3.text-left.whitespace-nowrap(sidebar-toggle-item='') Publications
                            svg.w-6.h-6(sidebar-toggle-item='' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
                          ul#dropdown-pub.hidden.py-2.space-y-2
                            
                  .mt-auto
                      ul.items-end.align-bottom.pt-4.pb-6.space-y-2.font-medium.border-t.border-gray-200(class='dark:border-gray-700')
                        li
                          a.flex.items-center.p-2.text-gray-900.transition.duration-75.rounded-lg.group(href='/logout' class='hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white')
                            svg.flex-shrink-0.w-5.h-5.text-gray-500.transition.duration-75(aria-hidden='true' class='group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400' focusable='false' data-prefix='fas' data-icon='gem' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                              path(fill='currentColor' d='M378.7 32H133.3L256 182.7L378.7 32zM512 192l-107.4-141.3L289.6 192H512zM107.4 50.67L0 192h222.4L107.4 50.67zM244.3 474.9C247.3 478.2 251.6 480 256 480s8.653-1.828 11.67-5.062L510.6 224H1.365L244.3 474.9z')
                            span.ml-4 Sign Out
                        li
                          a.flex.items-center.p-2.text-gray-900.transition.duration-75.rounded-lg.group(href='#' class='hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white')
                            svg.flex-shrink-0.w-6.h-6.text-gray-500.transition.duration-75(aria-hidden='true' class='dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(fill-rule='evenodd' d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z' clip-rule='evenodd')
                            span.ml-3 Help
          // Nav Bar
          .flex.flex-col.relative
              // Nav Bar
              nav.fixed.top-0.w-full.z-20.bg-white.border-b.border-gray-200(class='dark:bg-gray-800 dark:border-gray-700')
                .px-3.py-3(class='lg:px-5 lg:pl-3')
                  .flex.items-center.justify-between
                    .flex.items-center.justify-start
                      button.inline-flex.items-center.p-2.text-sm.text-gray-500.rounded-lg(onclick="getSideChannels()" data-drawer-target='drawer-navigation' data-drawer-toggle='drawer-navigation' aria-controls='drawer-navigation' type='button' class='hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600')
                        span.sr-only Open sidebar
                        svg.w-6.h-6(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                          path(clip-rule='evenodd' fill-rule='evenodd' d='M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z')
                      .flex.ml-5   
                        object.h-8(class="dark:invert" data='/images/chalk.svg' type='image/svg+xml')
                        span.ml-3.self-center.text-xl.font-pacifico.whitespace-nowrap(class='sm:text-2xl dark:text-white') #[a(href="/") Chalk]
                    
                    form#searching
                      label.mb-2.text-sm.font-medium.text-gray-900.sr-only(for='default-search' class='dark:text-white') Search
                      .relative
                        .absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none
                          svg.w-5.h-5.text-gray-500(aria-hidden='true' class='dark:text-gray-400' fill='none' stroke='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z')
                        input#default-search.block.w-128.p-4.pl-10.text-sm.text-gray-900.border.border-gray-300.rounded-lg.bg-gray-50(type='search' class='focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder="Discover Channels...")
                        button.text-white.absolute.bg-blue-700.font-medium.rounded-lg.text-sm.px-4.py-2(type='submit' class='right-2.5 bottom-2.5 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Search                   
                      
                      // Dropdown search
                      #dropdown.absolute.w-128.z-24.hidden.bg-white.divide-y.divide-gray-100.rounded-lg.shadow(class='dark:bg-gray-700')
                        ul#dropdownlist.py-2.text-sm.text-gray-700(class='dark:text-gray-200')
                          

                    .flex.items-center.ml-3
                      button#theme-toggle.flex.text-gray-500.rounded-lg.text-sm(type='button' class='dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 p-2.5')
                          svg#theme-toggle-dark-icon.hidden.w-5.h-5(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(d='M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z')
                          svg#theme-toggle-light-icon.hidden.w-5.h-5(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                              path(d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' fill-rule='evenodd' clip-rule='evenodd')
                          
                      .flex.items-center.ml-3
                        div
                          button.flex.text-sm.bg-gray-800.rounded-full(type='button' class='focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600' aria-expanded='false' data-dropdown-toggle='dropdown-user')
                            span.sr-only Open user menu
                            img.w-8.h-8.rounded-full(src='https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-photo-183042379.jpg' alt='user photo')
                        #dropdown-user.z-50.hidden.my-4.text-base.list-none.bg-white.divide-y.divide-gray-100.rounded.shadow(class='dark:bg-gray-700 dark:divide-gray-600')
                          .px-4.py-3(role='none')
                            p.text-sm.text-gray-900(class='dark:text-white' role='none')
                              | #{user.first_name}  #{user.last_name}
                            p.text-sm.font-medium.text-gray-900.truncate(class='dark:text-gray-300' role='none')
                              | #{user.username}
                          ul.py-1(role='none')
                            li
                              a.block.px-4.py-2.text-sm.text-gray-700(href='/' class='hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white' role='menuitem') Dashboard
                            li
                              a.block.px-4.py-2.text-sm.text-gray-700(href='/settings' class='hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white' role='menuitem') Settings
                            li
                              a.block.px-4.py-2.text-sm.text-gray-700(href='/logout' class='hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white' role='menuitem') Sign out            
          // Page
          .pt-20.mt-3.pl-5.mr-5.mb-12
              block page
          // Footer
          footer.bg-white(class='dark:bg-gray-900').mt-auto
            .mx-auto.w-full.max-w-screen-xl.p-2.py-1(class='lg:py-3')
              div(class='md:flex md:justify-between')
                .mb-6(class='md:mb-0')
                  a.flex.items-center(href='')
                    object.h-8(class="dark:invert" data='/images/chalk.svg' type='image/svg+xml')
                    span.ml-3.self-center.text-xl.font-pacifico.whitespace-nowrap(class='sm:text-2xl dark:text-white') Chalk
                  span.text-gray-500(class='text-[10px] dark:text-gray-400')
                    | By Gonçalo Ferreira and Rui Braga
                  
              hr.my-6.border-gray-200(class='sm:mx-auto dark:border-gray-700 lg:my-3')
              div(class='sm:flex sm:items-center sm:justify-between')
                span.text-sm.text-gray-500(class='sm:text-center dark:text-gray-400')
                  | &copy; 2023 
                  a(href='' class='hover:underline') Chalk&trade;
                  | . All Rights Reserved.
                .flex.mt-2.space-x-6(class='sm:justify-center sm:mt-0')
                  a.text-gray-500(href='https://github.com/GoncaloPereiraFigueiredoFerreira/RPCW-Chalk' class='hover:text-gray-900 dark:hover:text-white')
                    svg.w-5.h-5(fill='currentColor' viewbox='0 0 24 24' aria-hidden='true')
                      path(fill-rule='evenodd' d='M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z' clip-rule='evenodd')
                    span.sr-only GitHub account
              
        script(src='/javascripts/flowbite.min.js')
        script(src="/javascripts/main.js") 
        script(src="/javascripts/searchbar.js")
        script(src="/javascripts/sidebar.js")
        script.
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' ) {
            document.documentElement.classList.add('dark');
            } else {
            document.documentElement.classList.remove('dark')
            }