extends base
    
block page 
   
    .grid.grid-cols-8.gap-4
      .col-span-8.relative
        img.w-screen.max-h-64(src="https://d347bo4ltvvnaz.cloudfront.net/images/preview/Easter_PalmLeaf_Banner_1920x500.jpg")
        h1.absolute.text-5xl.text-white.bottom-5.left-5 RPCW
        button.absolute.bottom-3.right-5.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.mr-2.mb-2(type='button' class='hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800') Inscreve-te

            
      div.mt-auto.col-span-8(class='md:col-span-3')
        .w-full.h-96.p-4.bg-white.border.border-gray-200.rounded-lg.shadow(class='sm:p-8 dark:bg-gray-800 dark:border-gray-700')
          .flex.items-center.justify-between.mb-4
            h5.text-xl.font-bold.leading-none.text-gray-900(class='dark:text-white') Announcements
            a.text-sm.font-medium.text-blue-600(href='#' class='hover:underline dark:text-blue-500')
              | View all
          .flow-root
            ul.divide-y.divide-gray-200(role='list' class='dark:divide-gray-700')
              li.py-3(class='sm:py-4')
                .flex.items-center.space-x-4
                  a.text-sm.font-medium.text-gray-900.truncate(href='#' class='hover:underline dark:text-blue-500')
                    | Teste Adicionado
              li.py-3(class='sm:py-4')
                .flex.items-center.space-x-4
                  a.text-sm.font-medium.text-gray-900.truncate(href='#' class='hover:underline dark:text-blue-500')
                    | Começo das aulas
                   
                
      div.mt-auto.col-span-8(class='md:col-span-5')
          .mb-5.flex.items-center.justify-between
            h5.text-2xl.font-bold.leading-none.text-gray-900(class='dark:text-white') Content
            label.sr-only(for='table-search') Search
            .relative
              .absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none
                svg.w-5.h-5.text-gray-500(class='dark:text-gray-400' aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z' clip-rule='evenodd')
              input#table-search.block.p-2.pl-10.text-sm.text-gray-900.border.border-gray-300.rounded-lg.w-80.bg-gray-50(type='text' class='focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Search for files') 
          .relative.bg-white.h-80.overflow-x-auto.shadow-md(class='sm:rounded-lg dark:bg-gray-800')
            table.w-full.text-sm.text-left.text-gray-500.overflow-x-auto(class='dark:text-gray-400')
              thead.text-xs.text-gray-700(class='dark:bg-gray-700 dark:text-gray-400')
                
                nav.flex.px-5.py-3.text-gray-800.bg-gray-50(class='dark:bg-gray-800 dark:border-gray-700' aria-label='Breadcrumb')
                  input.mt-1.mr-3.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300.rounded(type='checkbox' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
                  label.sr-only(for='checkbox-all-search') checkbox
                  ol.inline-flex.items-center.space-x-1(class='md:space-x-3')
                    li.inline-flex.items-center
                      a.inline-flex.items-center.text-sm.font-medium.text-gray-700(href='#' class='hover:text-blue-600 dark:text-gray-400 dark:hover:text-white')
                        svg.w-4.h-4.mr-2(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                          path(d='M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z')
                        |         Home
                    li
                      .flex.items-center
                        svg.w-6.h-6.text-gray-400(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
                        a.ml-1.text-sm.font-medium.text-gray-700(href='#' class='hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white') Testes
                    li(aria-current='page')
                      .flex.items-center
                        svg.w-6.h-6.text-gray-400(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                          path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
                        span.ml-1.text-sm.font-medium.text-gray-500(class='md:ml-2 dark:text-gray-400') 2021-2022

              tbody
                tr.flex.bg-white.border-b(class='dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600')
                  th.flex.items-center.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap(scope='row' class='dark:text-white')
                      input.mr-3.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300.rounded(type='checkbox' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
                      label.sr-only(for='checkbox-all-search') checkbox
                      svg(class="dark:invert" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='20' height='20' viewbox='3 0 100 100')
                          defs
                          g(style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;')
                            path(d='M 89.475 31.953 c -0.56 -0.816 -1.485 -1.304 -2.475 -1.304 H 73.97 v -9.181 c 0 -1.657 -1.343 -3 -3 -3 H 30.857 l -2.408 -4.916 c -0.504 -1.028 -1.549 -1.68 -2.694 -1.68 H 3 c -1.657 0 -3 1.343 -3 3 v 60.254 c 0 0.071 0.016 0.137 0.021 0.207 c 0.006 0.083 0.012 0.164 0.025 0.246 c 0.024 0.158 0.063 0.309 0.11 0.458 c 0.02 0.061 0.033 0.123 0.057 0.183 c 0.083 0.211 0.184 0.412 0.31 0.596 c 0.001 0.002 0.002 0.005 0.003 0.007 c 0.009 0.013 0.022 0.023 0.031 0.036 c 0.118 0.166 0.254 0.318 0.402 0.456 c 0.052 0.049 0.109 0.091 0.164 0.135 c 0.119 0.096 0.243 0.183 0.376 0.26 c 0.065 0.038 0.129 0.074 0.196 0.107 c 0.143 0.069 0.292 0.124 0.446 0.17 c 0.062 0.019 0.12 0.042 0.184 0.057 c 0.218 0.05 0.442 0.083 0.675 0.083 h 67.97 c 1.239 0 2.352 -0.763 2.798 -1.919 l 16.03 -41.477 C 90.155 33.808 90.034 32.769 89.475 31.953 z M 23.884 17.873 l 2.408 4.916 c 0.504 1.028 1.549 1.68 2.694 1.68 H 67.97 v 6.181 H 19.03 c -1.24 0 -2.352 0.762 -2.798 1.918 L 6 59.042 v -41.17 H 23.884 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                      | Teste 2021 
                  td.flex.items-center.ml-64
                    .border.rounded-lg.p-1 Directory


                  
                tr.flex.justify-between.bg-white.border-b(class='dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600')
                  th.flex.items-center.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap(scope='row' class='dark:text-white')
                    input.mr-3.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300.rounded(type='checkbox' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
                    label.sr-only(for='checkbox-all-search') checkbox
                    svg(class="dark:invert" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='20' height='20' viewbox='10 0 100 100' xml:space='preserve')
                      defs
                      g(style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;')
                        path(d='M 77.474 17.28 L 61.526 1.332 C 60.668 0.473 59.525 0 58.311 0 H 15.742 c -2.508 0 -4.548 2.04 -4.548 4.548 v 80.904 c 0 2.508 2.04 4.548 4.548 4.548 h 58.516 c 2.508 0 4.549 -2.04 4.549 -4.548 V 20.496 C 78.807 19.281 78.333 18.138 77.474 17.28 z M 61.073 5.121 l 12.611 12.612 H 62.35 c -0.704 0 -1.276 -0.573 -1.276 -1.277 V 5.121 z M 74.258 87 H 15.742 c -0.854 0 -1.548 -0.694 -1.548 -1.548 V 4.548 C 14.194 3.694 14.888 3 15.742 3 h 42.332 v 13.456 c 0 2.358 1.918 4.277 4.276 4.277 h 13.457 v 64.719 C 75.807 86.306 75.112 87 74.258 87 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        path(d='M 68.193 33.319 H 41.808 c -0.829 0 -1.5 -0.671 -1.5 -1.5 s 0.671 -1.5 1.5 -1.5 h 26.385 c 0.828 0 1.5 0.671 1.5 1.5 S 69.021 33.319 68.193 33.319 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        path(d='M 34.456 33.319 H 21.807 c -0.829 0 -1.5 -0.671 -1.5 -1.5 s 0.671 -1.5 1.5 -1.5 h 12.649 c 0.829 0 1.5 0.671 1.5 1.5 S 35.285 33.319 34.456 33.319 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        lineargradient#SVGID_1(gradientunits='userSpaceOnUse' x1='21.8064' y1='19.2332' x2='42.2984' y2='19.2332')
                          stop(offset='0%' style='stop-color:rgb(255,255,255);stop-opacity: 1')
                          stop(offset='100%' style='stop-color:rgb(0,0,0);stop-opacity: 1')
                        line(x1='-10.246' y1='0' x2='10.246' y2='0' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: url(#SVGID_1); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ')
                        path(d='M 42.298 20.733 H 21.807 c -0.829 0 -1.5 -0.671 -1.5 -1.5 s 0.671 -1.5 1.5 -1.5 h 20.492 c 0.829 0 1.5 0.671 1.5 1.5 S 43.127 20.733 42.298 20.733 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        path(d='M 68.193 44.319 H 21.807 c -0.829 0 -1.5 -0.671 -1.5 -1.5 s 0.671 -1.5 1.5 -1.5 h 46.387 c 0.828 0 1.5 0.671 1.5 1.5 S 69.021 44.319 68.193 44.319 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        path(d='M 48.191 55.319 H 21.807 c -0.829 0 -1.5 -0.672 -1.5 -1.5 s 0.671 -1.5 1.5 -1.5 h 26.385 c 0.828 0 1.5 0.672 1.5 1.5 S 49.02 55.319 48.191 55.319 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        path(d='M 68.193 55.319 H 55.544 c -0.828 0 -1.5 -0.672 -1.5 -1.5 s 0.672 -1.5 1.5 -1.5 h 12.649 c 0.828 0 1.5 0.672 1.5 1.5 S 69.021 55.319 68.193 55.319 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        path(d='M 68.193 66.319 H 21.807 c -0.829 0 -1.5 -0.672 -1.5 -1.5 s 0.671 -1.5 1.5 -1.5 h 46.387 c 0.828 0 1.5 0.672 1.5 1.5 S 69.021 66.319 68.193 66.319 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                        path(d='M 68.193 77.319 H 55.544 c -0.828 0 -1.5 -0.672 -1.5 -1.5 s 0.672 -1.5 1.5 -1.5 h 12.649 c 0.828 0 1.5 0.672 1.5 1.5 S 69.021 77.319 68.193 77.319 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                    | Teste 2021 
                  td.px-6.py-4 Format
                  td.px-6.py-4
                      | Tags
                  td.px-6.py-4
                      | File size

                  td.px-6.py-4
                    a(href='#' class='hover:text-blue-600 dark:text-gray-400 dark:hover:text-white')
                      svg(class="dark:invert" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='20' height='20' viewbox='10 0 100 100' xml:space='preserve')
                        defs
                        g(style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' )
                          path(d='M 66.848 42.103 c -2.111 -1.782 -5.266 -1.512 -7.046 0.599 L 50 54.325 V 5 c 0 -2.761 -2.238 -5 -5 -5 c -2.761 0 -5 2.239 -5 5 v 49.325 l -9.802 -11.623 c -1.78 -2.111 -4.934 -2.378 -7.046 -0.599 c -2.111 1.78 -2.379 4.935 -0.599 7.046 l 18.624 22.085 c 0.075 0.088 0.156 0.168 0.236 0.251 c 0.028 0.029 0.054 0.059 0.083 0.088 c 0.2 0.196 0.416 0.372 0.643 0.531 c 0.044 0.031 0.088 0.061 0.133 0.091 c 0.23 0.15 0.471 0.282 0.722 0.392 c 0.05 0.022 0.101 0.04 0.151 0.061 c 0.264 0.105 0.534 0.193 0.813 0.252 c 0.035 0.007 0.071 0.011 0.106 0.018 c 0.306 0.058 0.618 0.094 0.935 0.094 c 0.317 0 0.628 -0.036 0.934 -0.094 c 0.035 -0.007 0.071 -0.01 0.106 -0.018 c 0.279 -0.059 0.549 -0.147 0.812 -0.252 c 0.052 -0.021 0.103 -0.039 0.154 -0.062 c 0.25 -0.11 0.49 -0.241 0.719 -0.39 c 0.047 -0.03 0.092 -0.061 0.137 -0.093 c 0.226 -0.158 0.441 -0.333 0.64 -0.528 c 0.03 -0.029 0.057 -0.061 0.086 -0.091 c 0.079 -0.082 0.161 -0.161 0.234 -0.249 l 18.624 -22.085 C 69.227 47.037 68.958 43.883 66.848 42.103 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')
                          path(d='M 79.692 90 H 10.307 c -2.761 0 -5 -2.239 -5 -5 l 0 -20.352 c 0 -2.611 1.909 -4.943 4.508 -5.191 c 2.982 -0.285 5.492 2.053 5.492 4.976 v 14.528 c 0 0.574 0.465 1.039 1.039 1.039 h 57.308 c 0.574 0 1.039 -0.465 1.039 -1.039 V 64.648 c 0 -2.612 1.91 -4.943 4.509 -5.191 c 2.982 -0.284 5.491 2.053 5.491 4.977 V 85 C 84.692 87.761 82.454 90 79.692 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round')

              
                