extends base
    
block page 
  
  .mb-5.flex.items-center.justify-between
    div
      button#dropdownRadioButton.inline-flex.items-center.text-gray-500.bg-white.border.border-gray-300.font-medium.rounded-lg.text-sm.px-3(data-dropdown-toggle='dropdownRadio' class='focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700' type='button')
        svg.w-4.h-4.mr-2.text-gray-400(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z' clip-rule='evenodd')
        |                 Last 30 days
        svg.w-3.h-3.ml-2(aria-hidden='true' fill='none' stroke='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7')
      // Dropdown menu
      #dropdownRadio.z-10.hidden.w-48.bg-white.divide-y.divide-gray-100.rounded-lg.shadow(class='dark:bg-gray-700 dark:divide-gray-600' data-popper-reference-hidden='' data-popper-escaped='' data-popper-placement='top' style='position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);')
        ul.p-3.space-y-1.text-sm.text-gray-700(class='dark:text-gray-200' aria-labelledby='dropdownRadioButton')
          li
            .flex.items-center.p-2.rounded(class='hover:bg-gray-100 dark:hover:bg-gray-600')
              input#filter-radio-example-1.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300(type='radio' value='' name='filter-radio' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
              label.w-full.ml-2.text-sm.font-medium.text-gray-900.rounded(for='filter-radio-example-1' class='dark:text-gray-300') Last day
          li
            .flex.items-center.p-2.rounded(class='hover:bg-gray-100 dark:hover:bg-gray-600')
              input#filter-radio-example-2.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300(checked='' type='radio' value='' name='filter-radio' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
              label.w-full.ml-2.text-sm.font-medium.text-gray-900.rounded(for='filter-radio-example-2' class='dark:text-gray-300') Last 7 days
          li
            .flex.items-center.p-2.rounded(class='hover:bg-gray-100 dark:hover:bg-gray-600')
              input#filter-radio-example-3.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300(type='radio' value='' name='filter-radio' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
              label.w-full.ml-2.text-sm.font-medium.text-gray-900.rounded(for='filter-radio-example-3' class='dark:text-gray-300') Last 30 days
          li
            .flex.items-center.p-2.rounded(class='hover:bg-gray-100 dark:hover:bg-gray-600')
              input#filter-radio-example-4.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300(type='radio' value='' name='filter-radio' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
              label.w-full.ml-2.text-sm.font-medium.text-gray-900.rounded(for='filter-radio-example-4' class='dark:text-gray-300') Last month
          li
            .flex.items-center.p-2.rounded(class='hover:bg-gray-100 dark:hover:bg-gray-600')
              input#filter-radio-example-5.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300(type='radio' value='' name='filter-radio' class='focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600')
              label.w-full.ml-2.text-sm.font-medium.text-gray-900.rounded(for='filter-radio-example-5' class='dark:text-gray-300') Last year

    label.sr-only(for='table-search') Search
    .relative
      .absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none
        svg.w-5.h-5.text-gray-500(class='dark:text-gray-400' aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z' clip-rule='evenodd')
      input#table-search.block.p-2.pl-10.text-sm.text-gray-900.border.border-gray-300.rounded-lg.w-80.bg-gray-50(type='text' class='focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Search for items')
  
  .relative.overflow-x-auto.shadow-md(class='sm:rounded-lg')
    table.w-full.text-sm.text-left.text-gray-500(class='dark:text-gray-400')
      thead.text-xs.text-gray-700.uppercase.bg-gray-50(class='dark:bg-gray-700 dark:text-gray-400')

        nav.flex.px-5.py-3.text-gray-700.border.border-gray-200.rounded-lg.bg-gray-50(class='dark:bg-gray-800 dark:border-gray-700' aria-label='Breadcrumb')
          ol.inline-flex.items-center.space-x-1(class='md:space-x-3')
            li.inline-flex.items-center
              a.inline-flex.items-center.text-sm.font-medium.text-gray-700(href='#' class='hover:text-blue-600 dark:text-gray-400 dark:hover:text-white')
                svg.w-4.h-4.mr-2(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                  path(d='M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z')
                |         Home
            li
              .flex.items-center
                svg.w-6.h-6.text-gray-400(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
                a.ml-1.text-sm.font-medium.text-gray-700(href='#' class='hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white') Templates
            li(aria-current='page')
              .flex.items-center
                svg.w-6.h-6.text-gray-400(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
                span.ml-1.text-sm.font-medium.text-gray-500(class='md:ml-2 dark:text-gray-400') Flowbite

      tbody
        tr.bg-white.border-b(class='dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600')
          th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap(scope='row' class='dark:text-white')
            | Apple MacBook Pro 17&quot;
          td.px-6.py-4
            | Silver
          td.px-6.py-4
            | Laptop
          td.px-6.py-4
            | $2999
          td.px-6.py-4.text-right
            a.font-medium.text-blue-600(href='#' class='dark:text-blue-500 hover:underline') Edit
        tr.bg-white.border-b(class='dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600')
          th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap(scope='row' class='dark:text-white')
            | Microsoft Surface Pro
          td.px-6.py-4
            | White
          td.px-6.py-4
            | Laptop PC
          td.px-6.py-4
            | $1999
          td.px-6.py-4.text-right
            a.font-medium.text-blue-600(href='#' class='dark:text-blue-500 hover:underline') Edit
        tr.bg-white.border-b(class='dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600')
          th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap(scope='row' class='dark:text-white')
            | Magic Mouse 2
          td.px-6.py-4
            | Black
          td.px-6.py-4
            | Accessories
          td.px-6.py-4
            | $99
          td.px-6.py-4.text-right
            a.font-medium.text-blue-600(href='#' class='dark:text-blue-500 hover:underline') Edit



