extends base
 
block page
    .grid.grid-cols-8.gap-4
      .col-span-8.relative.bg-white.p-24.block.relative
        .h1.text-5xl.absolute.bottom-1.left-3 Dashboard
      .col-span-4.relative.bg-white.p-24.relative 
        .p.text-3xl Meus anúncios
      .col-span-4.relative.bg-white.p-24.relative 
        .p.text-3xl Minhas inscrições
    