extends layout

block head
  script(src="https://accounts.google.com/gsi/client" async defer)

block body
  body.h-screen(class='md:flex')
    .relative.overflow-hidden.bg-gray-800.i.justify-around.items-center.hidden(class='md:flex w-2/3')
      h1.text-9xl.text-white.font-pacifico Chalk
          img(src='/images/chalk.svg')
    
    .flex.justify-center.py-10.items-center.bg-white(class='md:w-2/3')
      form.bg-white(method="POST")
        h1.text-gray-800.text-5xl.font-bold.text-2xl.mb-1 Bem vindo!
        p.text-sm.font-normal.text-gray-600.mb-7 Inicia a tua sessão no formulário:
        .flex.items-center.border-2.py-2.px-3.rounded-2xl.mb-4
          svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
            path(fill-rule='evenodd' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z' clip-rule='evenodd')
          input.pl-2.outline-none.border-none(size=40 type='text' name='username' placeholder='Email')
        .flex.items-center.border-2.py-2.px-3.rounded-2xl
          svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
            path(fill-rule='evenodd' d='M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z' clip-rule='evenodd')
          input.pl-2.outline-none.border-none(type='password' name='password' placeholder='Password')
        button.block.w-full.bg-indigo-600.mt-4.py-2.rounded.text-white.font-semibold.mb-2(type='submit') Login
    form.mt-4.ml-2(method="GET" action="http://localhost:7778/auth/google")
      button(type="submit") Autenticar pela google
    .mt-4.ml-2(class='hover:text-blue-500') #[a(href="#") Esqueceu-se da Password? ]
    .mt-4.ml-2(class='hover:text-blue-500') #[a(href="/register") Ainda não tem conta? ]

