extends layout

block head

block body
  body.h-screen(class='md:flex')
    .relative.overflow-hidden.bg-gray-800.i.justify-around.items-center.hidden(class='md:flex w-2/3')
      h1.text-9xl.text-white.font-pacifico Chalk
          img(src='/images/chalk.svg')
          p.text-xl.mt-4.justify-center.text-white Educational Resource Sharing Platform
    
    .flex.justify-center.py-10.items-center.bg-white(class='md:w-2/3')
      p.text-xl Ups! Not yet implemented! That's to bad, that you lost your password!
        img.py-10.justify-center.w-72(src="https://static.vecteezy.com/ti/vetor-gratis/p3/2896742-menino-triste-deprimido-menino-parecendo-solitario-gratis-vetor.jpg")

    .pt-4.pl-8(class='hover:text-blue-500') #[a(href="http://localhost:7778/auth/google") Google Auth]
    .pt-4.pl-8(class='hover:text-blue-500') #[a(href="/login") Sign In? ]
    .pt-4.pl-8(class='hover:text-blue-500') #[a(href="/register") Still no account? ]

