extends ../layout

block body
  .p-10
    .flex.items-center.mb-16
      h1.text-5xl.font-pacifico Chalk
      img.w-24(src='/images/chalk.svg' width='80px')
    
      h1.ml-16.text-7xl 404! Page not Found! 
    p.text-xl Please return to the #[a.underline(href="/") Dashboard] or #[a.underline(href="/login") Login] again!

