extends base
 
block page
    .block.w-full.border-gray-200.rounded-lg.shadow.bg-white(class="dark:bg-gray-800")
      h1.p-4.text-xl(class="dark:text-white") Create directory:
      form(method='POST' id='form').p-8
        
        .mb-6 
          label.block.mb-2.text-sm.font-medium.text-gray-900(for='name' class='dark:text-white') Directory Name: 
          input.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(id="dir" name="dir" type='text' class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='' required=true)

        .flex.items-start.mb-6
          button.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.w-full.px-5.text-center(type='submit' class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Submit