extends base

block channel_cont
      .relative
        .bg-white.w-full.border-gray-200.shadow(class='dark:bg-gray-800 dark:border-gray-700')
          .grid.grid-cols-6

            .border-r.border-gray-300.col-span-4(class='lg:col-span-1 h-[32rem]')
              .h-full.flex.flex-col
                ul.mt-4.overflow-auto
                  .justify-items-start
                    li
                      .p-5(class="bg-white dark:bg-gray-800 dark:text-white")
                        a(href="/channel/"+channel._id+"/settings") Edit Channel
                    li
                      .p-5(class="bg-white dark:bg-gray-800 dark:text-white")
                        a(href="/channel/"+channel._id+"/students") Student List
                    li
                      .p-5(class="bg-blue-600 dark:bg-blue-800 dark:text-white")
                        a(href="/channel/"+channel._id+"/submissions").text-white Submissions
                
                .mt-auto 
                  ul
                    li    
                    .p-5(class="bg-white dark:bg-gray-800")
                      a(href="/channel/"+channel._id+"/delete").text-red-600 Delete Channel
              
            .block.col-span-4(class='lg:col-span-5')
              .p-5
                h1.text-2xl.font-medium(class="dark:text-white") Submissions
               
              
                 
                    
                  

              